---
layout: page
title: Exposures
showinmenu: yes
image: exposures.jpg
permalink: /exposures/
---

{% if site.exposures %}
<h3>Film exposure list</h3>
<p>These pages contain listings of the exposures taken in each roll of film, with details of the camera and exposure settings for each frame, where I noted it at the time. It's really just my reference. Not all of these were scanned, and most of them aren't on this site. Ask if you're particularly interested.</p>
<p>I got out of the habit of pedantically recording every frame setting after about a year of doing it. Once I'd let go of that habit, I lost the opportunity to efficiently learn all of the variables and their influence on the outcome of a capture but hugely improved the enjoyment of photography. It became less neurotic: more art than science: although the science is still there, it's more in the moment. I beleive that the process of photography becomes more significant and the reward for me is not so much in the outcomes, although these are sometimes pleasing, as in the creative process itself.</p>
<ul>
  {% assign sorted = site.exposures | sort: 'date' | reverse %}  
  {% for exposure in sorted %}
    <li><small>{{ exposure.date | date: "%B %Y" }}</small> | <a class="tag-link" href="{{ exposure.url }}">{{ exposure.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}
