<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  {% if page.image %}<link rel="image_src" href="{{"/img/" | prepend: site.baseurl | append : page.image}}" />{% endif %}

  <!-- Facebook sharing Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:type" content="text/html"/>
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}"/>
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ site.baseurl }}{{"/img/" | append : page.image}}{% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="fb:admins" content=""/>
  <meta property="og:description"
        content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

  <!-- Twitter info for sharing -->
  <meta name="twitter:card" content="{% if page.image %}{{ site.url }}{{ site.baseurl }}{{'/img/' | prepend: site.baseurl | append : page.image }}{% endif %}">
  <meta name="twitter:site" content="@niximagery">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:creator" content="@niximagery">
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ site.baseurl }}{{'/img/' | append : page.image}}{% endif %}">
  <meta name="twitter:domain" content="{{ site.url }}{{ site.baseurl }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">


  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
